@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin mq($size) {

	@if $size == min2001 {
		@media only screen and (min-width:2001px) { @content; }
	} @else if $size == max2000 {
		@media only screen and (min-width:1601px) and (max-width:2000px) { @content; }
	} @else if $size == max1600 {
		@media only screen and (min-width:1251px) and (max-width:1600px) { @content; }
	} @else if $size ==  max1250 {
		@media only screen and (min-width:601px) and (max-width:1250px) { @content; }
	} @else if $size ==  max600 {
		@media only screen and (min-width:321px) and (max-width:600px) { @content; }
	} @else if $size ==  max320 {
		@media only screen and (max-width:320px) { @content; }
	}
}

body, p, nav {
	margin:0;
	padding:0;
}

nav {
	
	float:left;
	position:fixed;
	z-index:10;

	ul {
		li {
			list-style-type:none;
			font-size:1em;
		}
	}
}

.container {

	position:relative;
	display:block;

	width:100%;
	height:100%;

	text-align:center;

	p {
		font-family:Arial;
		font-weight:bold;

		@include vertical-align();

		font-size:160px;

		&.content {
			position:absolute;
		}
	}

	&.first, &.third {
		background-color:white;
		opacity:.5;

		p {
			color:black;
		}
	}

	&.second, &.fourth {
		background-color:black;
		opacity:.5;

		p {
			color:white;
		}
	}

	.content {
		visibility:hidden;
		//opacity:0;
	}
}
