.page--index {

	background:linear-gradient(15deg, #FF9797, #FFEDED);

	section {

		height: 600px;

		&:hover {

			.container {

				.box {

					&.moving-left {
						max-width:100%;
						margin-left:0;
					}

					&.moving-right {
						max-width:100%;
					}
				}
			}
		}

		.container {

			position:relative;

			width:100%;
			height: 100%;

			.box {

				position:relative;

				max-width: 0px;
				height:100%;

				opacity:0.5;

				&.moving-left {
					margin-left:100%;
					transition: max-width 600ms cubic-bezier(0.34, -0.03, 0.19, 1.18), margin-left 600ms cubic-bezier(0.34, -0.03, 0.19, 1.18);
				}

				&.moving-right {
					transition: max-width 600ms cubic-bezier(0.34, -0.03, 0.19, 1.18);
				}
			}
		}

		.wrap-content {
			position:absolute;

			width:85%;
			height:70%;

			top:0;
			left:0;
			bottom:0;
			right:0;

			margin:auto;

			text-align:center;

			.text-container {

				position:absolute;

				top:50%;
				left:50%;

				transform:translate(-50%, -50%);
				width: 90%;
			}
		}
	}

	.section--intro {

		.container {

			.box {
				background-color: #922121;
			}

			.text-container {
				color: #4C091B;

				$link-color: #2D2228;

				p:nth-child(n+2) {
					margin-top:25px;
				}

				a, a:visited {
					display:inline-block;
					color: $link-color;
					text-decoration:none;

					&:after {					
						content: '';
						display:block;

						height:2px;
						width:0px;

						background-color:transparent;

						transition:width 300ms ease-in, background-color 300ms ease-in;
					}
				}

				a:hover {

					&:after {
						width: 100%;
						background-color:$link-color;

						transition:width 300ms ease-in, background-color 300ms ease-in;
					}
				}
			}
		}
	}

	.section--necrodancer {

		.container {

			background:linear-gradient(0deg, #2F2D33, #BD9595);
			// background: url("../img/necrodancer_conga.png");
			background-size:cover;
			background-position:center;

			.box {
				background-color: #922121;
			}
		}
	}
}