.page--index {

	section {
	}

	.section--intro {
		background-color:#2C649E;

		text-align:center;

		$link-color:#bbeafd;
		$font-color:white;

		color:$font-color;

		a, a:visited {
			display:inline-block;
			color: $link-color;
			text-decoration:none;

			&:after {					
				content: '';
				display:block;

				height:2px;
				width:0px;

				background-color:transparent;

				transition:width 300ms ease-in, background-color 300ms ease-in;
			}
		}

		a:hover {

			&:after {
				width: 100%;
				background-color:$link-color;

				transition:width 300ms ease-in, background-color 300ms ease-in;
			}
		}
	}

	.section--necrodancer {
	}
}