.page--index {

	a, a:hover, a:visited {
		text-decoration:none;
	}

	.section--intro {
		background-color:#2C649E;

		text-align:center;

		$link-color:#bbeafd;
		$font-color:white;

		color:$font-color;

		a, a:visited {
			display:inline-block;
			color: $link-color;
			text-decoration:none;

			&:after {					
				content: '';
				display:block;

				height:2px;
				width:0px;

				background-color:transparent;

				transition:width 300ms ease-in, background-color 300ms ease-in;
			}
		}

		a:hover {

			&:after {
				width: 100%;
				background-color:$link-color;

				transition:width 300ms ease-in, background-color 300ms ease-in;
			}
		}
	}

	.section--necrodancer {
		
		.button {
			max-height:50px;
			background-color:red;

			text-align:center;
			line-height:50px;

			p {
				font-size:20px;
				background-color:red;
			}
		}
	}
}