header
	.desktop-header.hide--sm.hide--md
		.first-row
		.header-wrapper
			.header
				a(href="index.html") Home
				a(href="works.html") Works
				a(href="necrodancer.html") NecroDancer
				a(href="fourth.html") Fourth
				a(href="fifth.html") Fifth

	.mobile-header.hide--lg
		.div(style="background-color:red")