---
title: "Joseph Galindo - Developer, Necrodancer"
description: "A personal site for and by a developer named Joseph Galindo."
keywords: "joseph,galindo,developer,personal,website,necrodancer,frontend"
section: "index"
---

extends /layout/base.jade

block content

	section.section--intro

		.wrap-content
			.text-container
				p Hi, my name is Joseph Galindo. Thanks for checking out my website on the Internet#[sup &trade;]! 

				p I've liked programming since high school, and that interest has persisted for the #[a(href="works.html") past several years]. 

				p Recently, my efforts have been directed towards front-end development. In my spare time, I participate in competitive #[a(href="necrodancer.html") NecroDancer racing].

	section.section--necrodancer

		.wrap-content
			span Here is some text

	section.section--intro

		.wrap-content
			.text-container
				p Hi, my name is Joseph Galindo. Thanks for checking out my website on the Internet#[sup &trade;]! 

				p I've liked programming since high school, and that interest has persisted for the past several years. 

				p Recently, my efforts have been directed towards front-end development. In my spare time, I participate in competitive #[a(href="https://twitter.com/condorleague") NecroDancer racing].

	section.section--intro

		.wrap-content
			.text-container
				p Hi, my name is Joseph Galindo. Thanks for checking out my website on the Internet#[sup &trade;]! 

				p I've liked programming since high school, and that interest has persisted for the past several years. 

				p Recently, my efforts have been directed towards front-end development. In my spare time, I participate in competitive #[a(href="https://twitter.com/condorleague") NecroDancer racing].