---
title: "Joseph Galindo - Developer, Necrodancer, and Memer"
description: "A personal site for and by a developer named Joseph Galindo."
keywords: "joseph,galindo,developer,personal,website,necrodancer,frontend"
section: "index"
---

extends /layout/base.jade

block content

	section.section--intro

		.container
			.row
				.col-sm-10.col-sm-offset-1
					h1 Hi, my name is Joseph Galindo. Thanks for checking out my website on the Internet#[sup &trade;]! 
					h3 Recently, my efforts have been directed towards front-end development. In my spare time, I participate in competitive #[a(href="https://twitter.com/condorleague") NecroDancer racing].

	section.section--necrodancer

		.container
			.row
				.col-sm-8
					h1 Necrodancer
				.col-sm-4
					a(href="/necrodancer.html").button
						p Explore