---
title: "Index Page"
description: "Index Meta Description"
keywords: "index,meta,keywords"
section: "index"
---

extends /layout/base.jade

block content

	section.section--intro

		.container

			.box
			.text
				span Here is some text

	section.section--necrodancer