---
title: "Joseph Galindo - Developer, Necrodancer, and Memer"
description: "A personal site for and by a developer named Joseph Galindo."
keywords: "joseph,galindo,developer,personal,website,necrodancer,frontend"
section: "necrodancer"
---

extends /layout/base.jade

block content

	section.section--intro

		.container
			.wrap-content
				.text-container
					p What is Crypt of the NecroDancer?
