.center {
	text-align:center;
}

.wrap-content {
	margin:0 auto;
	height:100%;

	@include mq("lg") {
		width:960px;
		padding:50px 0;
	}

	@include mq("sm", 'md') {
	    width: percentage(340/375);
	    padding: 50px 0 20px 0; 
	    // 20px bottom to account for 30px bottom padding for inner elements
	    margin: 0 auto;

	    &.wrap--full {
	        width: 100%;
	        margin-left: 0;
	        padding: 0;
	    }
	}
}